<launch>
  <arg name="robot_name"/>

  <!-- Launch the Vicon bridge to get pose readings.
       Since there may be many robots around, we forward objects individually.
       If you want to add an additional objectd (e.g. an obstacle), you need
       to add a new element to each of the arrays below.

       See also https://github.com/tud-amr/vicon-bridge for more information.
  -->
  <include file="$(find vicon_bridge)/launch/vicon.launch">
    <arg name="only_use_object_specific" value="false"/>
    <arg name="object_names" value="[$(arg robot_name)]"/>
    <arg name="object_msg_types" value="[geometry_msgs/PoseWithCovarianceStamped]"/>
    <arg name="object_frame_ids" value="[map]"/>
    <arg name="object_publish_topics" value="[/vicon/$(arg robot_name)]"/>
    <arg name="object_frequency_divider" value="[1]"/>
    <arg name="msg_type" value="geometry_msgs/PoseWithCovarianceStamped"/>
  </include>

</launch>
